defaults/flow.json
[{"id":"27542273.7fecae","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a6030ca7.dba26","type":"mqtt in","z":"27542273.7fecae","name":"","topic":"Topic/LightD","qos":"2","datatype":"json","broker":"e89fd8f6.0524d8","x":130,"y":140,"wires":[["e7319f18.3a7ff"]]},{"id":"870a86e2.d88478","type":"debug","z":"27542273.7fecae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":40,"wires":[]},{"id":"e7319f18.3a7ff","type":"change","z":"27542273.7fecae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["8cf09211.99ace","d230284e.23e2e8","2449524.517e9ae","870a86e2.d88478"]]},{"id":"fd796cb.b0a9d9","type":"mqtt in","z":"27542273.7fecae","name":"","topic":"Topic/Speaker","qos":"2","datatype":"json","broker":"e89fd8f6.0524d8","x":130,"y":320,"wires":[["f0051877.4fc2f8"]]},{"id":"c44d0f4b.ef672","type":"debug","z":"27542273.7fecae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":220,"wires":[]},{"id":"f0051877.4fc2f8","type":"change","z":"27542273.7fecae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0]","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["c44d0f4b.ef672","64fb1fc9.518f4","dc62702f.ba3fe","a118be9c.d6842"]]},{"id":"43f4d816.c80578","type":"mqtt in","z":"27542273.7fecae","name":"","topic":"Topic/Mois","qos":"2","datatype":"json","broker":"e89fd8f6.0524d8","x":120,"y":500,"wires":[["9aeadd3e.7b728"]]},{"id":"4615297a.e51698","type":"debug","z":"27542273.7fecae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":400,"wires":[]},{"id":"9aeadd3e.7b728","type":"change","z":"27542273.7fecae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":500,"wires":[["4615297a.e51698","ef9b66db.e7dd78"]]},{"id":"3babdbf.8694824","type":"mqtt in","z":"27542273.7fecae","name":"","topic":"Topic/TempHumi","qos":"2","datatype":"json","broker":"e89fd8f6.0524d8","x":140,"y":640,"wires":[["a7a1f2ec.db9c1"]]},{"id":"d25ab896.42ceb8","type":"debug","z":"27542273.7fecae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":540,"wires":[]},{"id":"a7a1f2ec.db9c1","type":"change","z":"27542273.7fecae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":640,"wires":[["2d6a818b.5581ae"]]},{"id":"bf12efd.08cb71","type":"mqtt in","z":"27542273.7fecae","name":"","topic":"Topic/Light","qos":"2","datatype":"json","broker":"e89fd8f6.0524d8","x":120,"y":800,"wires":[["bef4c20f.1eab9"]]},{"id":"b26b603c.c568a","type":"debug","z":"27542273.7fecae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":700,"wires":[]},{"id":"bef4c20f.1eab9","type":"change","z":"27542273.7fecae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].values","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":800,"wires":[["b26b603c.c568a","fdd74363.43888"]]},{"id":"8cf09211.99ace","type":"ui_text","z":"27542273.7fecae","group":"23f318e3.2c0668","order":1,"width":0,"height":0,"name":"Light","label":"{{msg.payload.device_id}}","format":"{{msg.payload.values[0]}} {{msg.payload.values[1]}}","layout":"col-center","x":790,"y":80,"wires":[]},{"id":"64fb1fc9.518f4","type":"ui_text","z":"27542273.7fecae","group":"66cf0658.8f38b8","order":1,"width":0,"height":0,"name":"Speaker","label":"{{msg.payload.device_id}}","format":"{{msg.payload.values[0]}} {{msg.payload.values[1]}}","layout":"col-center","x":800,"y":260,"wires":[]},{"id":"ef9b66db.e7dd78","type":"ui_text","z":"27542273.7fecae","group":"fdea356.73a78c8","order":2,"width":0,"height":0,"name":"","label":"Moisture","format":"{{msg.payload[0]}}","layout":"col-center","x":800,"y":440,"wires":[]},{"id":"2d6a818b.5581ae","type":"function","z":"27542273.7fecae","name":"","func":"msg1 = {\n    device_id: \"Temperature\",\n    payload: [msg.payload[0]]\n};\nmsg2 = {\n    device_id: \"Humidity\",\n    payload: [msg.payload[1]]\n};\nreturn [msg1, msg2];","outputs":2,"noerr":0,"x":590,"y":640,"wires":[["d25ab896.42ceb8","7dc1d2c3.14aaac"],["d25ab896.42ceb8","20653108.b6956e"]]},{"id":"7dc1d2c3.14aaac","type":"ui_text","z":"27542273.7fecae","group":"fdea356.73a78c8","order":2,"width":0,"height":0,"name":"","label":"Temperature","format":"{{msg.payload[0]}}","layout":"col-center","x":810,"y":580,"wires":[]},{"id":"20653108.b6956e","type":"ui_text","z":"27542273.7fecae","group":"fdea356.73a78c8","order":2,"width":0,"height":0,"name":"","label":"Humidity","format":"{{msg.payload[0]}}","layout":"col-center","x":800,"y":620,"wires":[]},{"id":"fdd74363.43888","type":"ui_text","z":"27542273.7fecae","group":"fdea356.73a78c8","order":2,"width":0,"height":0,"name":"","label":"Light","format":"{{msg.payload[0]}}","layout":"col-center","x":790,"y":740,"wires":[]},{"id":"3cfd7a7d.749566","type":"debug","z":"27542273.7fecae","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":40,"wires":[]},{"id":"d230284e.23e2e8","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = parseInt(msg.payload.values[1]);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":120,"wires":[["3cfd7a7d.749566","f4449139.bb6f4"]]},{"id":"2449524.517e9ae","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = msg.payload.values[0];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":160,"wires":[["375c992.aa06c66"]]},{"id":"375c992.aa06c66","type":"ui_switch","z":"27542273.7fecae","name":"","label":"ON/OFF","tooltip":"","group":"23f318e3.2c0668","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"light_on_off","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":940,"y":160,"wires":[["507a30a5.5ad69"]]},{"id":"f4449139.bb6f4","type":"ui_slider","z":"27542273.7fecae","name":"","label":"Light value","tooltip":"","group":"23f318e3.2c0668","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"light_value","min":0,"max":"255","step":"64","x":950,"y":120,"wires":[["b8c66225.3bf2c"]]},{"id":"469b99c3.867a88","type":"debug","z":"27542273.7fecae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1710,"y":40,"wires":[]},{"id":"b8c66225.3bf2c","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":120,"wires":[["507a30a5.5ad69"]]},{"id":"507a30a5.5ad69","type":"join","z":"27542273.7fecae","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":160,"wires":[["c2de25bb.32c898","775e5be.f185fa4"]]},{"id":"c2de25bb.32c898","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = [{\n    device_id: \"LightD\",\n    values: [msg.payload.light_on_off||\"1\", msg.payload.light_value||\"0\"]\n}];\nflow.set(\"configLight\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":160,"wires":[["bf7c5609.d10ed8"]]},{"id":"ce1faf46.a82d3","type":"mqtt out","z":"27542273.7fecae","name":"","topic":"Topic/LightD","qos":"1","retain":"true","broker":"e89fd8f6.0524d8","x":1750,"y":160,"wires":[]},{"id":"bf7c5609.d10ed8","type":"ui_button","z":"27542273.7fecae","name":"","group":"23f318e3.2c0668","order":4,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"configLight","payloadType":"flow","topic":"","x":1540,"y":160,"wires":[["469b99c3.867a88","ce1faf46.a82d3"]]},{"id":"dc62702f.ba3fe","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = parseInt(msg.payload.values[1]);\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":300,"wires":[["4f28e43a.cf5c3c"]]},{"id":"a118be9c.d6842","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = msg.payload.values[0];\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":340,"wires":[["f33f311c.98434"]]},{"id":"f33f311c.98434","type":"ui_switch","z":"27542273.7fecae","name":"","label":"ON/OFF","tooltip":"","group":"66cf0658.8f38b8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"speaker_on_off","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":940,"y":340,"wires":[["d1123df4.b01d5"]]},{"id":"4f28e43a.cf5c3c","type":"ui_slider","z":"27542273.7fecae","name":"","label":"Speaker value","tooltip":"","group":"66cf0658.8f38b8","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"speaker_value","min":0,"max":"5000","step":"500","x":960,"y":300,"wires":[["647a5bb1.7726b4"]]},{"id":"647a5bb1.7726b4","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = msg.payload.toString();\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":300,"wires":[["d1123df4.b01d5"]]},{"id":"d1123df4.b01d5","type":"join","z":"27542273.7fecae","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1230,"y":340,"wires":[["280b0d3b.9e58e2","a3a448d6.342e28"]]},{"id":"280b0d3b.9e58e2","type":"function","z":"27542273.7fecae","name":"","func":"msg.payload = [{\n    device_id: \"Speaker\",\n    values: [msg.payload.speaker_on_off||\"1\", msg.payload.speaker_value||\"0\"]\n}];\nflow.set(\"configSpeaker\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":340,"wires":[["552526f0.a1a188"]]},{"id":"ad559e8.8d55f6","type":"mqtt out","z":"27542273.7fecae","name":"","topic":"Topic/Speaker","qos":"1","retain":"true","broker":"e89fd8f6.0524d8","x":1760,"y":340,"wires":[]},{"id":"552526f0.a1a188","type":"ui_button","z":"27542273.7fecae","name":"","group":"66cf0658.8f38b8","order":4,"width":0,"height":0,"passthru":false,"label":"Send","tooltip":"","color":"","bgcolor":"","icon":"","payload":"configSpeaker","payloadType":"flow","topic":"","x":1540,"y":340,"wires":[["9a507b8b.a60658","ad559e8.8d55f6"]]},{"id":"9a507b8b.a60658","type":"debug","z":"27542273.7fecae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1710,"y":220,"wires":[]},{"id":"a3a448d6.342e28","type":"debug","z":"27542273.7fecae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":240,"wires":[]},{"id":"775e5be.f185fa4","type":"debug","z":"27542273.7fecae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":60,"wires":[]},{"id":"e89fd8f6.0524d8","type":"mqtt-broker","z":"","name":"IoT Hub","broker":"13.76.250.158","port":"1883","clientid":"DHLPT","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23f318e3.2c0668","type":"ui_group","z":"","name":"Light Control","tab":"726426d0.6a5698","order":2,"disp":true,"width":"6","collapse":false},{"id":"66cf0658.8f38b8","type":"ui_group","z":"","name":"Speaker Control","tab":"726426d0.6a5698","order":4,"disp":true,"width":"6","collapse":false},{"id":"fdea356.73a78c8","type":"ui_group","z":"","name":"Sensor Status","tab":"726426d0.6a5698","order":5,"disp":true,"width":"6","collapse":false},{"id":"726426d0.6a5698","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":2,"disabled":false,"hidden":false}]
